@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Archivo:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #fafafa;
  --bg-secondary: #f8f9f8;
  --bg-tertiary: #eeedea;
  --bg-brand-solid: #447c86;
  --bg-brand-primary: #f3f8f9;
  --bg-error-solid: #d42020;
  --bg-error-primary: #fff1f1;

  --text-primary: #1e1d1a;
  --text-secondary: #46443f;
  --text-tertiary: #5c5956;
  --text-quaternary: #787470;
  --text-white: #fafafa;
  --text-brand-secondary: #396770;
  --text-brand-tertiary: #447c86;
  --text-error-primary: #d42020;

  --border-primary: #c2bfba;
  --border-secondary: #dedbd6;
  --border-tertiary: #eeedea;
  --border-brand: #447c86;
  --border-accent: #c0e0d1;
  --border-error: #f53838;

  --fg-white: #fafafa;
  --fg-quaternary: #9e9a94;
  --fg-quaternary-hover: #787470;
  --fg-tertiary-hover: #46443f;
  --fg-brand-primary-alt: #447c86;
  --fg-brand-secondary-alt: #4e8d98;

  --brand-200: #c9dde1;
  --brand-800: #2e535a;
  --brand-900: #233f44;
  --accent-500: #c0e0d1;
  --neutral-200: #dedbd6;
  --amber-50: #fffbee;
  --amber-400: #ffc520;
  --amber-700: #a86700;
  --red-300: #ff9b9b;
  --red-600: #d42020;

  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;

  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-full: 9999px;
}

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
